## Question 1: How does a personâ€™s sexual behaviour affect their social circle?

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [14]:
prepped_sexWork_df = pd.read_csv('../../data/raw/prepped_online_sex_work.csv')
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0.0,0.0,No_risk,0,0 days 00:02:00.000000000,1.0
1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,0.0,0.0,No_risk,0,0 days 03:45:00.000000000,7.0
2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,1.0,45.0,No_risk,0,0 days 02:15:00.000000000,3.0
3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,0.0,1.0,No_risk,14,0 days 23:22:00.000000000,12.0
4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,6.0,8.0,No_risk,0,0 days 00:21:00.000000000,35.0

In [15]:
prepped_sexWork_df['Total_chat_time'] = pd.to_timedelta(prepped_sexWork_df['Total_chat_time'])

In [16]:
prepped_sexWork_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28819 entries, 0 to 28818
Data columns (total 15 columns):
Gender                                 28815 non-null object
Age                                    28813 non-null float64
Verification                           28819 non-null object
Sexual_orientation                     28818 non-null object
Sexual_polarity                        28818 non-null object
Looking_for                            28395 non-null object
Last_login                             28819 non-null object
Member_since                           28819 non-null object
Number_of_Comments_in_public_forum     28819 non-null int64
Number_of_offline_meetings_attended    28819 non-null float64
Profile_pictures                       28819 non-null float64
Risk                                   28819 non-null object
Days                                   28819 non-null int64
Total_chat_time                        28819 non-null timedelta64[ns]
Friends                                3312 non-null float64
dtypes: float64(4), int64(2), object(8), timedelta64[ns](1)
memory usage: 3.3+ MB

In [17]:
#A look into the number of friends people have on average based on sexual orientation
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends']].mean()

                  Friends
Sexual_polarity
Dominant         3.223440
Submisive        3.415574
Switch           3.758454

A look into the average number of friends people of different sexual polarity's have. From the overview of this dataset we can see that people whose preferences are Switch, have more friends on average. It's possible people with a Switch polarity have more popularity simply because they like to alternate between Dominant and Submissive and people might prefer the variety.

In [18]:
#Delving further into the number of friends people have on average based on sexual orientation and
#considering what the factors contributing to their social circle are
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends', 'Days', 'Profile_pictures', 'Number_of_Comments_in_public_forum', 'Number_of_offline_meetings_attended']].mean()

,Friends,Days,Profile_pictures,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended
Sexual_polarity,,,,,
Dominant,3.223440,0.107736,0.422159,2.507736,0.045845
Submisive,3.415574,0.140557,0.473002,2.768927,0.035967
Switch,3.758454,0.169319,0.403504,2.191521,0.045740

In [19]:
prepped_sexWork_df.groupby(['Sexual_polarity'])[['Total_chat_time']].sum() / prepped_sexWork_df.groupby(['Sexual_polarity'])[['Total_chat_time']].count()

                Total_chat_time
Sexual_polarity
Dominant        00:37:34.183381
Submisive       00:32:23.633520
Switch          00:32:09.581382

On further expansion of the dataset, it can be noted that people who highlighted their interest in the switch polarity, had less profile pictures uploaded, were less active publicly i.e made less comments in the forum, compared to those who had a preference in "dominant" and "submissive" respectively. There were less noted offline meetings for people into the Switch polarity although not the least but yet they still had more friends.

Exploring further, we looked into the chat times for each group and the Switch group also had the least time invested in conversation.

In [20]:
#Delving further into the number of friends people have on average based on sexual orientation and
#observing the differences between male and females.
prepped_sexWork_df.groupby(['Sexual_polarity', 'Gender'])[['Friends', 'Days', 'Profile_pictures', 'Number_of_Comments_in_public_forum', 'Number_of_offline_meetings_attended']].mean()

                         Friends      Days  Profile_pictures  \
Sexual_polarity Gender
Dominant        female  4.608911  0.169861          0.889373
                male    2.939024  0.100107          0.364700
Submisive       female  4.000000  0.326125          0.523510
                male    2.285068  0.033507          0.443864
Switch          female  4.974603  0.515566          0.817008
                male    3.011696  0.095323          0.315200

                        Number_of_Comments_in_public_forum  \
Sexual_polarity Gender
Dominant        female                            4.253484
                male                              2.293240
Submisive       female                            5.368871
                male                              1.269075
Switch          female                            5.477601
                male                              1.489445

                        Number_of_offline_meetings_attended
Sexual_polarity Gender
Dominant        female                             0.087108
                male                               0.040773
Submisive       female                             0.068645
                male                               0.017116
Switch          female                             0.096431
                male                               0.034914

## Additional Analysis

### What gender for each demographic spent a considerable amount of time on the forum

In [21]:
avg_chat_time = prepped_sexWork_df.groupby(['Gender', 'Sexual_orientation'])[['Total_chat_time']].sum() / prepped_sexWork_df.groupby(['Gender', 'Sexual_orientation'])[['Total_chat_time']].count()
avg_chat_time

                          Total_chat_time
Gender Sexual_orientation
female Heterosexual       00:51:37.401098
       Homosexual         00:29:26.853146
       bicurious          00:48:49.315838
       bisexual           00:47:30.075376
male   Heterosexual       00:34:45.480643
       Homosexual         00:05:01.599073
       bicurious          00:21:59.313215
       bisexual           00:12:51.076153

The amount of time spent by genders of different orientations was explored. It can be noted, looking at all the times that women in this dataset have invested more time chatting than men.

In [22]:
avg_chat_time['Total_chat_time'].plot.hist(alpha=0.5)

TypeError: Empty 'DataFrame': no numeric data to plot

### What sexual behaviour are people of different sexual orientation interested in?

In [23]:
prepped_sexWork_df.groupby(['Sexual_polarity', 'Gender'])[['Sexual_orientation']].apply(lambda x: x['Sexual_orientation'].value_counts()).unstack()

Sexual_orientation Heterosexual       bisexual       bicurious       \
Gender                   female  male   female  male    female male
Sexual_polarity
Dominant                    634  8373      373   493        99  254
Submisive                  2477  4071      779  1471       661  861
Switch                      529  4346      440   833       307  807

Sexual_orientation Homosexual
Gender                 female male
Sexual_polarity
Dominant                   42  200
Submisive                  60  491
Switch                     41  172

A look into what number of people have interest in certain sexual polarities.

In [24]:
prepped_sexWork_df.groupby(['Gender', 'Sexual_orientation'])[['Total_chat_time']].count()

                           Total_chat_time
Gender Sexual_orientation
female Heterosexual                   3640
       Homosexual                      143
       bicurious                      1067
       bisexual                       1592
male   Heterosexual                  16790
       Homosexual                      863
       bicurious                      1922
       bisexual                       2797

The number of people of respective gender that identify with certain sexual orientations.