## Sex Work

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
prepped_sexWork_df = pd.read_csv('../../data/raw/prepped_online_sex_work.csv')
prepped_sexWork_df.head()

,Unnamed: 0,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0:2,0.0,0.0,No_risk,0,0 days 00:02:00.000000000,1.0
1,1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,3:45,0.0,0.0,No_risk,0,0 days 03:45:00.000000000,7.0
2,2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,2:15,1.0,45.0,No_risk,0,0 days 02:15:00.000000000,3.0
3,3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,359:22,0.0,1.0,No_risk,14,0 days 23:22:00.000000000,12.0
4,4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,0:21,6.0,8.0,No_risk,0,0 days 00:21:00.000000000,35.0

In [13]:
prepped_sexWork_df['Total_chat_time'] = pd.to_timedelta(prepped_sexWork_df['Total_chat_time'])

In [7]:
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,"34,6",Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0:2,0.0,0.0,No_risk,0,00:02:00,1.0
1,male,"32,2",Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,3:45,0.0,0.0,No_risk,0,03:45:00,7.0
2,male,"33,6",Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,2:15,1.0,45.0,No_risk,0,02:15:00,3.0
3,male,34,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,359:22,0.0,1.0,No_risk,14,23:22:00,12.0
4,male,"39,5",Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,0:21,6.0,8.0,No_risk,0,00:21:00,35.0

In [8]:
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends']].mean()

                  Friends
Sexual_polarity
Dominant         3.223440
Submisive        3.415574
Switch           3.758454

In [9]:
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends', 'Days', 'Profile_pictures', 'Number_of_Comments_in_public_forum', 'Number_of_offline_meetings_attended']].mean()

,Friends,Days,Profile_pictures,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended
Sexual_polarity,,,,,
Dominant,3.223440,0.107736,0.422159,2.507736,0.045845
Submisive,3.415574,0.140557,0.473002,2.768927,0.035967
Switch,3.758454,0.169319,0.403504,2.191521,0.045740

In [10]:
prepped_sexWork_df.groupby('Sexual_polarity').size()

Sexual_polarity
Dominant     10470
Submisive    10871
Switch        7477
dtype: int64

In [30]:
prepped_sexWork_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28819 entries, 0 to 28818
Data columns (total 16 columns):
Unnamed: 0                             28819 non-null int64
Age                                    28819 non-null object
Verification                           28819 non-null object
Sexual_orientation                     28818 non-null object
Sexual_polarity                        28818 non-null object
Looking_for                            28395 non-null object
Last_login                             28819 non-null object
Member_since                           28819 non-null object
Number_of_Comments_in_public_forum     28819 non-null int64
Time_spent_chating_H:M                 28819 non-null object
Number_of_offline_meetings_attended    28819 non-null float64
Profile_pictures                       28819 non-null float64
Risk                                   28819 non-null object
Days                                   28819 non-null int64
Total_chat_time                        28819 non-null timedelta64[ns]
Friends                                3312 non-null float64
dtypes: float64(3), int64(3), object(9), timedelta64[ns](1)
memory usage: 3.5+ MB

## Reddit Thread

In [50]:
prepped_redditThread_df = pd.read_csv('../../data/raw/prepped_foreveralone.csv')
prepped_redditThread_df.head()

,gender,sexuality,age,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,edu_level
0,Male,Straight,35,White non-Hispanic,Normal weight,True,True,No,0,True,Associate degree
1,Male,Bisexual,21,White non-Hispanic,Underweight,True,True,No,0,True,"Some college, no degree"
2,Male,Straight,22,White non-Hispanic,Overweight,True,True,No,10,True,"Some college, no degree"
3,Male,Straight,19,White non-Hispanic,Overweight,True,True,No,8,True,"Some college, no degree"
4,Male,Straight,23,White non-Hispanic,Overweight,True,True,Yes and I have,10,True,"High school graduate, diploma or the equivalen..."