## Question 2 How does a person’s (perceived) wellbeing—anxiety, body type, etc.—affect sexual behaviour?

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [10]:
prepped_redditThread_df = pd.read_csv('../../data/raw/prepped_foreveralone.csv')
prepped_redditThread_df.head()

,gender,sexuality,age,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,edu_level
0,Male,Straight,35,White non-Hispanic,Normal weight,Yes,No,No,0,Yes,Associate degree
1,Male,Bisexual,21,White non-Hispanic,Underweight,Yes,No,No,0,Yes,"Some college, no degree"
2,Male,Straight,22,White non-Hispanic,Overweight,Yes,No,No,10,Yes,"Some college, no degree"
3,Male,Straight,19,White non-Hispanic,Overweight,Yes,Yes,No,8,Yes,"Some college, no degree"
4,Male,Straight,23,White non-Hispanic,Overweight,No,No,Yes and I have,10,No,"High school graduate, diploma or the equivalen..."

In [11]:
prepped_redditThread_df.groupby(['pay_for_sex','bodyweight'])[['social_fear']].apply(lambda x: pd.DataFrame(x['social_fear'].value_counts())).unstack()

                                social_fear
                                         No    Yes
pay_for_sex       bodyweight
No                Normal weight        71.0  125.0
                  Obese                 6.0   10.0
                  Overweight           25.0   40.0
                  Underweight           9.0   32.0
Yes and I have    Normal weight         5.0    9.0
                  Obese                 NaN    2.0
                  Overweight            3.0    3.0
Yes but I haven't Normal weight        26.0   33.0
                  Obese                 1.0    6.0
                  Overweight           12.0   30.0
                  Underweight           3.0   18.0

In the table above, each row contains a set of numbers which represents a count for the number of people who claim to have a social fear or claim not to have a social fear that may or may not have paid for sex. It also displays a count of people who identify with certain weight classes that may or may not have paid for sex.

In [12]:
prepped_redditThread_df.groupby(['prostitution_legal','bodyweight'])[['social_fear']].apply(lambda x: x['social_fear'].value_counts()).unstack()

social_fear                  Yes                                         No  \
bodyweight         Normal weight Obese Overweight Underweight Normal weight
prostitution_legal
No                           121    17         58          38            79
Yes                           46     1         15          12            23

social_fear
bodyweight         Obese Overweight Underweight
prostitution_legal
No                     6         32          10
Yes                    1          8           2

Much like the previous table, we're exploring the counts of users under social fear and bodyweight columns but in this case we observe how many people in this dataset would legalise or wouldn't legalise prostitution.

In [16]:
prepped_redditThread_df.groupby(['prostitution_legal','pay_for_sex','bodyweight'])[['social_fear']].apply(lambda x: pd.DataFrame(x['social_fear'].value_counts())).unstack()

                                                   social_fear
                                                            No   Yes
prostitution_legal pay_for_sex       bodyweight
No                 No                Normal weight        54.0  91.0
                                     Obese                 5.0   9.0
                                     Overweight           19.0  31.0
                                     Underweight           8.0  24.0
                   Yes and I have    Normal weight         4.0   5.0
                                     Obese                 NaN   2.0
                                     Overweight            2.0   1.0
                   Yes but I haven't Normal weight        21.0  25.0
                                     Obese                 1.0   6.0
                                     Overweight           11.0  26.0
                                     Underweight           2.0  14.0
Yes                No                Normal weight        17.0  34.0
                                     Obese                 1.0   1.0
                                     Overweight            6.0   9.0
                                     Underweight           1.0   8.0
                   Yes and I have    Normal weight         1.0   4.0
                                     Overweight            1.0   2.0
                   Yes but I haven't Normal weight         5.0   8.0
                                     Overweight            1.0   4.0
                                     Underweight           1.0   4.0

Here we're exploring the counts of users under social fear and bodyweight columns while looking at how many people would/wouldn't pay for sex **and** would legalise/wouldn't legalise prostitution.

### Additional analysis: What educational level would most virgins be present in?

In [14]:
prepped_redditThread_df.groupby(['edu_level'])[['virgin']].count()

                                                    virgin
edu_level
Associate degree                                        18
Bachelor’s degree                                      120
Doctorate degree                                         5
High school graduate, diploma or the equivalent...      93
Master’s degree                                         28
Professional degree                                      6
Some college, no degree                                137
Some high school, no diploma                            50
Trade/technical/vocational training                     12

In [15]:
prepped_redditThread_df.groupby(['pay_for_sex'])[['age']].mean()

                         age
pay_for_sex
No                 23.798742
Yes and I have     25.090909
Yes but I haven't  24.178295