## Sex Work

## Social Circle

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [20]:
prepped_sexWork_df = pd.read_csv('../../data/raw/prepped_online_sex_work.csv')
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0:2,0.0,0.0,No_risk,0,0 days 00:02:00.000000000,1.0
1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,3:45,0.0,0.0,No_risk,0,0 days 03:45:00.000000000,7.0
2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,2:15,1.0,45.0,No_risk,0,0 days 02:15:00.000000000,3.0
3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,359:22,0.0,1.0,No_risk,14,0 days 23:22:00.000000000,12.0
4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,0:21,6.0,8.0,No_risk,0,0 days 00:21:00.000000000,35.0

In [21]:
prepped_sexWork_df['Total_chat_time'] = pd.to_timedelta(prepped_sexWork_df['Total_chat_time'])

In [22]:
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Time_spent_chating_H:M,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0:2,0.0,0.0,No_risk,0,00:02:00,1.0
1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,3:45,0.0,0.0,No_risk,0,03:45:00,7.0
2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,2:15,1.0,45.0,No_risk,0,02:15:00,3.0
3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,359:22,0.0,1.0,No_risk,14,23:22:00,12.0
4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,0:21,6.0,8.0,No_risk,0,00:21:00,35.0

## Question 1: How does the size of a person’s social circle affect their sexual behaviours?

In [23]:
#A look into the number of friends people have on average based on sexual orientation
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends']].mean()

                  Friends
Sexual_polarity
Dominant         3.223440
Submisive        3.415574
Switch           3.758454

In [28]:
#Delving further into the number of friends people have on average based on sexual orientation and
#considering what the factors contributing to their social circle are
prepped_sexWork_df.groupby('Sexual_polarity')[['Friends', 'Days', 'Profile_pictures', 'Number_of_Comments_in_public_forum', 'Number_of_offline_meetings_attended']].mean()

,Friends,Days,Profile_pictures,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended
Sexual_polarity,,,,,
Dominant,3.223440,0.107736,0.422159,2.507736,0.045845
Submisive,3.415574,0.140557,0.473002,2.768927,0.035967
Switch,3.758454,0.169319,0.403504,2.191521,0.045740

In [46]:
#Delving further into the number of friends people have on average based on sexual orientation and
#observing the differences between male and females.
prepped_sexWork_df.groupby(['Sexual_polarity', 'Gender'])[['Friends', 'Days', 'Profile_pictures', 'Number_of_Comments_in_public_forum', 'Number_of_offline_meetings_attended']].mean()

                         Friends      Days  Profile_pictures  \
Sexual_polarity Gender
Dominant        female  4.608911  0.169861          0.889373
                male    2.939024  0.100107          0.364700
Submisive       female  4.000000  0.326125          0.523510
                male    2.285068  0.033507          0.443864
Switch          female  4.974603  0.515566          0.817008
                male    3.011696  0.095323          0.315200

                        Number_of_Comments_in_public_forum  \
Sexual_polarity Gender
Dominant        female                            4.253484
                male                              2.293240
Submisive       female                            5.368871
                male                              1.269075
Switch          female                            5.477601
                male                              1.489445

                        Number_of_offline_meetings_attended
Sexual_polarity Gender
Dominant        female                             0.087108
                male                               0.040773
Submisive       female                             0.068645
                male                               0.017116
Switch          female                             0.096431
                male                               0.034914

In [27]:
prepped_sexWork_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28819 entries, 0 to 28818
Data columns (total 16 columns):
Gender                                 28815 non-null object
Age                                    28813 non-null float64
Verification                           28819 non-null object
Sexual_orientation                     28818 non-null object
Sexual_polarity                        28818 non-null object
Looking_for                            28395 non-null object
Last_login                             28819 non-null object
Member_since                           28819 non-null object
Number_of_Comments_in_public_forum     28819 non-null int64
Time_spent_chating_H:M                 28819 non-null object
Number_of_offline_meetings_attended    28819 non-null float64
Profile_pictures                       28819 non-null float64
Risk                                   28819 non-null object
Days                                   28819 non-null int64
Total_chat_time                        28819 non-null timedelta64[ns]
Friends                                3312 non-null float64
dtypes: float64(4), int64(2), object(9), timedelta64[ns](1)
memory usage: 3.5+ MB

## Question 2: How does a person’s sexual orientation affect their sexual behaviour

In [55]:
#Examining how people
prepped_sexWork_df.groupby('Sexual_orientation')[['Friends', 'Age']].mean()

                     Friends        Age
Sexual_orientation
Heterosexual        3.236486  36.518315
Homosexual          1.903614  34.710050
bicurious           3.776504  33.288699
bisexual            4.354207  36.070228

In [76]:
#right now this shows that e.g. heterosexual people are at a higher risk to pay for sex when they have so and so friends and 
#are of so and so ages.
#but what I want to do is show that people are at higher risk to pay for sex when they are heterosexual, of a certain age and with a
#certain social circle... unless what is currently there can be interepreted in both ways.. currently not too sure.
prepped_sexWork_df.groupby(['Sexual_orientation', 'Risk'])[['Friends', 'Age']].mean().unstack()

                      Friends                               Age             \
Risk                High_risk   No_risk unknown_risk  High_risk    No_risk
Sexual_orientation
Heterosexual        12.333333   8.37931     3.137339  38.039130  37.113043
Homosexual           4.000000   8.00000     1.725000  41.400000  33.200000
bicurious            3.000000  16.00000     3.674419  29.116667  32.975000
bisexual             2.000000   5.00000     4.353755  31.600000  35.860000


Risk               unknown_risk
Sexual_orientation
Heterosexual          36.515253
Homosexual            34.706387
bicurious             33.297518
bisexual              36.072507

In [69]:
#Lookig further to examine differences between genders
prepped_sexWork_df.groupby(['Sexual_orientation', 'Gender', 'Risk'])[['Friends', 'Age']].mean().unstack()

                             Friends                             Age  \
Risk                       High_risk No_risk unknown_risk  High_risk
Sexual_orientation Gender
Heterosexual       female  11.333333    19.5     3.667093  36.025000
                   male    12.833333     6.6     2.870239  38.463158
Homosexual         female        NaN     NaN     1.368421        NaN
                   male     4.000000     8.0     1.836066  41.400000
bicurious          female   3.000000    21.5     4.582569  31.300000
                   male     3.000000     5.0     2.103175  28.025000
bisexual           female        NaN     5.0     5.444118        NaN
                   male     2.000000     NaN     2.120482  31.600000


Risk                         No_risk unknown_risk
Sexual_orientation Gender
Heterosexual       female  37.066667    33.349628
                   male    37.120000    37.202959
Homosexual         female        NaN    29.639161
                   male    33.200000    35.549942
bicurious          female  29.600000    30.552023
                   male    36.350000    34.823225
bisexual           female  31.250000    32.048552
                   male    54.300000    38.356263

## Reddit Thread

In [30]:
prepped_redditThread_df = pd.read_csv('../../data/raw/prepped_foreveralone.csv')
prepped_redditThread_df.head()

,gender,sexuality,age,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,edu_level
0,Male,Straight,35,White non-Hispanic,Normal weight,True,True,No,0,True,Associate degree
1,Male,Bisexual,21,White non-Hispanic,Underweight,True,True,No,0,True,"Some college, no degree"
2,Male,Straight,22,White non-Hispanic,Overweight,True,True,No,10,True,"Some college, no degree"
3,Male,Straight,19,White non-Hispanic,Overweight,True,True,No,8,True,"Some college, no degree"
4,Male,Straight,23,White non-Hispanic,Overweight,True,True,Yes and I have,10,True,"High school graduate, diploma or the equivalen..."

In [31]:
prepped_redditThread_df['sexuality'].unique()

array(['Straight', 'Bisexual', 'Gay/Lesbian', 'Asexual'], dtype=object)