## Question 2 How does a person’s (perceived) wellbeing—anxiety, body type, etc.—affect sexual behaviour?

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
prepped_redditThread_df = pd.read_csv('../../data/raw/prepped_foreveralone.csv')
prepped_redditThread_df.head()

,gender,sexuality,age,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,edu_level
0,Male,Straight,35,White non-Hispanic,Normal weight,Yes,No,No,0,Yes,Associate degree
1,Male,Bisexual,21,White non-Hispanic,Underweight,Yes,No,No,0,Yes,"Some college, no degree"
2,Male,Straight,22,White non-Hispanic,Overweight,Yes,No,No,10,Yes,"Some college, no degree"
3,Male,Straight,19,White non-Hispanic,Overweight,Yes,Yes,No,8,Yes,"Some college, no degree"
4,Male,Straight,23,White non-Hispanic,Overweight,No,No,Yes and I have,10,No,"High school graduate, diploma or the equivalen..."

In [7]:
prepped_redditThread_df.groupby(['prostitution_legal','pay_for_sex', 'bodyweight'])[['social_fear']].count().unstack()

                                       social_fear                   \
bodyweight                           Normal weight Obese Overweight
prostitution_legal pay_for_sex
No                 No                        145.0  14.0       50.0
                   Yes and I have              9.0   2.0        3.0
                   Yes but I haven't          46.0   7.0       37.0
Yes                No                         51.0   2.0       15.0
                   Yes and I have              5.0   NaN        3.0
                   Yes but I haven't          13.0   NaN        5.0


bodyweight                           Underweight
prostitution_legal pay_for_sex
No                 No                       32.0
                   Yes and I have            NaN
                   Yes but I haven't        16.0
Yes                No                        9.0
                   Yes and I have            NaN
                   Yes but I haven't         5.0

### Additional analysis: What educational level would most virgins be present in?

In [9]:
prepped_redditThread_df.groupby(['edu_level'])[['virgin']].count()

                                                    virgin
edu_level
Associate degree                                        18
Bachelor’s degree                                      120
Doctorate degree                                         5
High school graduate, diploma or the equivalent...      93
Master’s degree                                         28
Professional degree                                      6
Some college, no degree                                137
Some high school, no diploma                            50
Trade/technical/vocational training                     12