## How does a person's sexual orientation affect their sexual behaviour?

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
prepped_sexWork_df = pd.read_csv('../../data/raw/prepped_online_sex_work.csv')
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0.0,0.0,No_risk,0,0 days 00:02:00.000000000,1.0
1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,0.0,0.0,No_risk,0,0 days 03:45:00.000000000,7.0
2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,1.0,45.0,No_risk,0,0 days 02:15:00.000000000,3.0
3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,0.0,1.0,No_risk,14,0 days 23:22:00.000000000,12.0
4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,6.0,8.0,No_risk,0,0 days 00:21:00.000000000,35.0

In [29]:
prepped_sexWork_df['Total_chat_time'] = pd.to_timedelta(prepped_sexWork_df['Total_chat_time'])

In [30]:
prepped_sexWork_df.head()

,Gender,Age,Verification,Sexual_orientation,Sexual_polarity,Looking_for,Last_login,Member_since,Number_of_Comments_in_public_forum,Number_of_offline_meetings_attended,Profile_pictures,Risk,Days,Total_chat_time,Friends
0,male,34.6,Non_Verified,Homosexual,Switch,Men,before_10_days,2012-09-17,32,0.0,0.0,No_risk,0,00:02:00,1.0
1,male,32.2,Non_Verified,Heterosexual,Dominant,Women,before_1_days,2009-01-11,710,0.0,0.0,No_risk,0,03:45:00,7.0
2,male,33.6,Non_Verified,Heterosexual,Dominant,Women,before_3_days,2013-01-04,25,1.0,45.0,No_risk,0,02:15:00,3.0
3,male,34.0,Non_Verified,Heterosexual,Dominant,Women,before_4_days,2013-08-04,107,0.0,1.0,No_risk,14,23:22:00,12.0
4,male,39.5,Non_Verified,Heterosexual,Dominant,Women,before_5_days,2013-04-14,600,6.0,8.0,No_risk,0,00:21:00,35.0

In [31]:
#Examining how people
prepped_sexWork_df.groupby('Sexual_orientation')[['Friends', 'Age']].mean()

                     Friends        Age
Sexual_orientation
Heterosexual        3.236486  36.518315
Homosexual          1.903614  34.710050
bicurious           3.776504  33.288699
bisexual            4.354207  36.070228

In [32]:
prepped_sexWork_df.groupby(['Risk'])[['Age']].mean()

                    Age
Risk
High_risk     35.957576
No_risk       36.575439
unknown_risk  36.050639

In [33]:
#right now this shows that e.g. heterosexual people are at a higher risk to pay for sex when they have so and so friends and 
#are of so and so ages.
#but what I want to do is show that people are at higher risk to pay for sex when they are heterosexual, of a certain age and with a
#certain social circle... unless what is currently there can be interepreted in both ways.. currently not too sure.
prepped_sexWork_df.groupby(['Sexual_orientation', 'Risk'])[['Friends', 'Age']].mean().unstack()

                      Friends                               Age             \
Risk                High_risk   No_risk unknown_risk  High_risk    No_risk
Sexual_orientation
Heterosexual        12.333333   8.37931     3.137339  38.039130  37.113043
Homosexual           4.000000   8.00000     1.725000  41.400000  33.200000
bicurious            3.000000  16.00000     3.674419  29.116667  32.975000
bisexual             2.000000   5.00000     4.353755  31.600000  35.860000


Risk               unknown_risk
Sexual_orientation
Heterosexual          36.515253
Homosexual            34.706387
bicurious             33.297518
bisexual              36.072507

In [34]:
#Looking further to examine differences between genders
prepped_sexWork_df.groupby(['Sexual_orientation', 'Gender', 'Risk'])[['Friends', 'Age']].mean().unstack()

                             Friends                             Age  \
Risk                       High_risk No_risk unknown_risk  High_risk
Sexual_orientation Gender
Heterosexual       female  11.333333    19.5     3.667093  36.025000
                   male    12.833333     6.6     2.870239  38.463158
Homosexual         female        NaN     NaN     1.368421        NaN
                   male     4.000000     8.0     1.836066  41.400000
bicurious          female   3.000000    21.5     4.582569  31.300000
                   male     3.000000     5.0     2.103175  28.025000
bisexual           female        NaN     5.0     5.444118        NaN
                   male     2.000000     NaN     2.120482  31.600000


Risk                         No_risk unknown_risk
Sexual_orientation Gender
Heterosexual       female  37.066667    33.349628
                   male    37.120000    37.202959
Homosexual         female        NaN    29.639161
                   male    33.200000    35.549942
bicurious          female  29.600000    30.552023
                   male    36.350000    34.823225
bisexual           female  31.250000    32.048552
                   male    54.300000    38.356263

In [36]:
aggregated = prepped_sexWork_df.groupby(['Gender', 'Risk'])['Age'].mean()
aggregated.unstack().transpose()

Gender           female       male
Risk
High_risk     34.450000  36.292593
No_risk       33.883333  37.293333
unknown_risk  32.482345  37.079297

## Reddit Thread

In [38]:
prepped_redditThread_df = pd.read_csv('../../data/raw/prepped_foreveralone.csv')
prepped_redditThread_df.head()

,gender,sexuality,age,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,edu_level
0,Male,Straight,35,White non-Hispanic,Normal weight,Yes,No,No,0,Yes,Associate degree
1,Male,Bisexual,21,White non-Hispanic,Underweight,Yes,No,No,0,Yes,"Some college, no degree"
2,Male,Straight,22,White non-Hispanic,Overweight,Yes,No,No,10,Yes,"Some college, no degree"
3,Male,Straight,19,White non-Hispanic,Overweight,Yes,Yes,No,8,Yes,"Some college, no degree"
4,Male,Straight,23,White non-Hispanic,Overweight,No,No,Yes and I have,10,No,"High school graduate, diploma or the equivalen..."

In [39]:
#Looking into the average of people in the dataset who would legalise prostitution/pay for sex and also the average age
#of people that are of a certain sexuality.
prepped_redditThread_df.groupby(['sexuality', 'prostitution_legal', 'pay_for_sex'])[['age']].mean().unstack()

                                      age
pay_for_sex                            No Yes and I have Yes but I haven't
sexuality   prostitution_legal
Asexual     No                  26.000000            NaN               NaN
Bisexual    No                  24.545455      12.000000         23.818182
            Yes                 21.600000            NaN         20.000000
Gay/Lesbian No                  24.428571            NaN               NaN
            Yes                 20.000000            NaN               NaN
Straight    No                  24.009479      26.846154         24.852632
            Yes                 23.166667      23.875000         21.636364

In [41]:
prepped_redditThread_df.groupby(['prostitution_legal','pay_for_sex', 'gender'])[['age']].mean().unstack()

                                           age                        \
gender                               Androgyne     Female       Male
prostitution_legal pay_for_sex
No                 No                     26.0  24.851852  23.837838
                   Yes and I have          NaN        NaN  26.846154
                   Yes but I haven't       NaN  26.428571  24.626263
Yes                No                      NaN  21.666667  23.187500
                   Yes and I have          NaN        NaN  23.875000
                   Yes but I haven't       NaN        NaN  21.565217


gender                               Transgender female Transgender male
prostitution_legal pay_for_sex
No                 No                              25.0              NaN
                   Yes and I have                   NaN             12.0
                   Yes but I haven't                NaN              NaN
Yes                No                               NaN             21.0
                   Yes and I have                   NaN              NaN
                   Yes but I haven't                NaN              NaN